<h1>
  Images for <%= @brand.name.titleize %>
  <%= link_to 'Back', brands_path, class: 'pull-right btn btn-primary' %>
</h1>
<div class="clearfix"></div>

<%= link_to 'HQ Matches', '?quality=High', class: 'btn btn-primary' %>
<%= link_to 'Most Popular', '?popular=true', class: 'btn btn-primary' %>
<%= link_to 'Least Popular', '?popular=false', class: 'btn btn-primary' %>
<%= link_to 'Most Recent', '?recent=true', class: 'btn btn-primary' %>
<%= link_to 'Oldest', '?recent=false', class: 'btn btn-primary' %>
<%= link_to 'Neighbors', '?neighbors=1', class: 'btn btn-primary' %>
<br>
<%= paginate @paged_images %>
<div id="masonry-container" class="transitions-enabled">
  <% @paged_images.each do |image| %>
  <div class="grid-item <%= image.brand_images.first.match_quality.gsub(/ /, '') %>">
    <img src="<%= image.source %>"/>
  </div>
  <% end %>
</div>
<div class="clearfix"></div>